html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

button {
  cursor: pointer;
}

.header {
  position: fixed;
  z-index: 10000;
  top: 0;
  background-color: #fafafa;
  padding: 0 20px;
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu--desktop {
  display: none;
}
.header__figure {
  margin: 0;
}

.desktop-background {
  display: none;
}

.plegable-menu {
  display: none;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #fafafa;
  background-color: #2b272f;
  background-image: url("../images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 40%;
  overflow-y: scroll;
}
.plegable-menu ul {
  padding: 0;
}
.plegable-menu ul li {
  margin: 0;
  margin-top: 50px;
  list-style: none;
  font-size: 2rem;
  text-align: center;
}
.plegable-menu ul li a {
  text-decoration: none;
  color: #fafafa;
  padding: 10px 40px;
}
.plegable-menu ul li a:focus {
  outline: 2px solid #fafafa;
}
.plegable-menu.active {
  min-height: 300px;
  position: fixed;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

main {
  margin-top: 80px;
}

.hero-container__background-image--right--mobile {
  position: absolute;
  right: 0;
  margin-top: -140px;
  z-index: 10;
}
.hero-container__background-image--right--mobile.active {
  width: 0;
  height: 0;
}

.hero__figure {
  margin: 0;
}
.hero__figure__image {
  width: 100%;
  height: 100%;
}
.hero__article {
  background-color: #2d2640;
  margin-top: 0;
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
}
.hero__article__text-container {
  color: #fafafa;
  text-align: center;
  padding: 0 5%;
}
.hero__article__text-container__h1 {
  margin-top: -5px;
  margin-bottom: 0;
  padding-top: 60px;
  font-size: 3.5rem;
  max-width: 400px;
}
.hero__article__text-container__button {
  background-color: #2d2640;
  border: 2px solid #fafafa;
  width: 150px;
  height: 40px;
  color: #fafafa;
  margin-bottom: 100px;
}

.description {
  text-align: center;
}
.description__line {
  padding-top: 60px;
  margin: 0 auto;
  border-bottom: 1px solid #95a9c6;
  height: 1px;
  width: 50%;
}
.description__title {
  color: #2b272f;
  font-size: 3.5rem;
}
.description__card {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 60px;
}
.description__card__text h4 {
  font-size: 3.5rem;
  color: #2d2640;
}
.description__card__text p {
  line-height: 1.7rem;
  font-weight: 400;
  color: #837d87;
  padding: 0 10px;
}

.find-out-more {
  background-color: #2d2640;
  color: #fafafa;
  margin-top: 100px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
}
.find-out-more h4 {
  padding-top: 100px;
  font-size: 3.5rem;
  margin-bottom: 25px;
}
.find-out-more button {
  background-color: #2d2640;
  border: 2px solid #fafafa;
  width: 200px;
  height: 40px;
  color: #fafafa;
  margin-bottom: 100px;
}

@media screen and (min-width: 650px) {
  .header__menu--desktop {
    display: block;
  }
  .header__menu--desktop ul {
    display: flex;
    margin-right: 10px;
  }
  .header__menu--desktop ul li {
    list-style: none;
    font-weight: 400;
    font-family: "Karla", sans-serif;
  }
  .header__menu--desktop ul li a {
    display: flex;
    text-decoration: none;
    color: #95a9c6;
    width: 120px;
    height: 40px;
    justify-content: center;
    align-items: center;
  }

  #nav-button {
    color: #2b272f;
    border: 2px solid;
    text-align: center;
  }

  .plegable-menu.active {
    display: none;
  }

  .hamburger {
    display: none;
  }

  .find-out-more {
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    display: flex;
    text-align: start;
    height: 250px;
    align-items: center;
    justify-content: space-around;
  }
  .find-out-more h4 {
    margin: 0;
    padding: 0;
    width: 70%;
    max-width: 500px;
  }
  .find-out-more button {
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 810px) {
  .header {
    padding: 0 11%;
  }

  .mobile-background {
    display: none;
  }

  .hero-container {
    height: 700px;
  }
  .hero-container__background-image--left {
    display: block;
    position: absolute;
    z-index: 10;
    top: 400px;
    height: 300px;
  }
  .hero-container__background-image--right {
    display: block;
    position: absolute;
    z-index: 10;
    height: 500px;
    right: 0;
    top: -40px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 8%;
    background-color: #2d2640;
  }
  .hero__figure {
    margin-top: 60px;
    position: absolute;
    margin-left: 50%;
    margin-right: 0;
  }
  .hero__figure__image {
    height: 40%;
    width: 80%;
  }
  .hero__article {
    color: #fafafa;
    background-image: none;
  }
  .hero__article__line {
    padding-top: 60px;
    width: 20%;
    border-bottom: 1px solid #fafafa;
    margin-left: 5%;
  }
  .hero__article__text-container {
    width: 50%;
    text-align: start;
  }
  .hero__article__text-container__h1 {
    margin-bottom: 0;
  }
  .hero__article__text-container__p {
    font-size: 1rem;
  }
  .hero__article__text-container__button {
    position: relative;
    z-index: 15;
    margin-bottom: 60px;
  }

  .description {
    padding: 0 11%;
  }
}
@media screen and (min-width: 1000px) {
  .description {
    text-align: start;
  }
  .description__line {
    width: 10%;
    margin: 0;
  }
  .description--card-container {
    display: flex;
    justify-content: space-between;
  }
  .description__card {
    margin: 0;
  }
  .description__card__figure {
    margin: 0;
  }
  .description__card__text h4 {
    font-size: 2rem;
  }
}