@import './_tokens.sass'
html
	box-sizing: border-box
	scroll-behavior: smooth

*
	box-sizing: inherit

body
	margin: 0
	overflow-x: hidden

.header
	position: fixed
	background-color: $very-light-gray
	width: 100vw
	height: 150px
	display: flex
	align-items: center
	justify-content: space-between
	&__menu
		&--desktop
			display: none
		&--mobile
			display: none
			&.active
				display: block


@media screen and ( min-width: 500px)
	.header
		&__menu
			&--desktop
				display: block