@import './_tokens.sass'
html
	box-sizing: border-box
	scroll-behavior: smooth

*
	box-sizing: inherit

body
	margin: 0
	overflow-x: hidden
	font-family: $font-family-body

h1,h2,h3,h4,h5,h6
	font-family: $font-family-heading
	font-weight: $font-weight-heading

button
	cursor: pointer

//! ################################
.header
	position: fixed
	z-index: 10000
	top: 0
	background-color: $very-light-gray
	padding: 0 20px
	width: 100vw
	height: 80px
	display: flex
	align-items: center
	justify-content: space-between
	&__menu
		&--desktop
			display: none
	&__figure
		margin: 0

.desktop-background
	display: none

.plegable-menu
	display: none
	font-family: $font-family-body
	font-weight: $font-weight-body-normal
	color: $very-light-gray
	background-color: $very-dark-violet
	background-image: url('../images/bg-pattern-mobile-nav.svg')
	background-repeat: no-repeat
	background-position: bottom
	background-size: 100% 40%
	overflow-y: scroll
	ul
		padding: 0
		li
			margin: 0
			margin-top: 50px
			list-style: none
			font-size: 2rem
			text-align: center
			a
				text-decoration: none
				color: $very-light-gray
				padding: 10px 40px
				&:focus
					outline: 2px solid $very-light-gray
	&.active
		min-height: 300px
		position: fixed
		top: 80px
		bottom: 0
		left: 0
		right: 0
		display: block
#plegable-nav-button
	display: flex
	border: 2px solid $very-light-gray
	width: 80%
	height: 60px
	align-items: center
	justify-content: center
	margin-left: auto
	margin-right: auto
	a
		min-width: 250px

main
	margin-top: 80px

//! ################################
.hero-container
	&__background-image--right--mobile
		position: absolute
		right: 0
		//bottom: 0
		margin-top: -140px
		z-index: 10
		&.active
			width: 0
			height: 0

.hero
	&__figure
		margin: 0
		&__image
			width: 100%
			height: 100%
	&__article
		background-color: $dark-violet
		margin-top: 0
		background-image: url('../images/bg-pattern-intro-left-mobile.svg')
		background-repeat: no-repeat
		&__text-container
			color: $very-light-gray
			text-align: center
			padding: 0 5%
			&__h1
				margin-top: -5px
				margin-bottom: 0
				padding-top: $spacing-medium
				font-size: 3.5rem
				max-width: 400px
				margin-left: auto
				margin-right: auto
			&__button
				background-color: $dark-violet
				border: 2px solid $very-light-gray
				width: 150px
				height: 40px
				color: $very-light-gray
				margin-bottom: $spacing-large
				transition: .3s
				&:hover
					background-color: $very-light-gray
					color: $dark-violet

//! ################################
.description
	text-align: center
	&__line
		padding-top: $spacing-medium
		margin: 0 auto
		border-bottom: 1px solid $grayish-blue
		height: 1px
		width: 50%
	&__title
		color: $very-dark-violet
		font-size: 3.5rem
	&__card
		max-width: 350px
		margin: 0 auto
		margin-top: $spacing-medium
		&__text
			h4
				font-size: 3.5rem
				color: $dark-violet
			p
				line-height: 1.7rem
				font-weight: $font-weight-body-normal
				color: $dark-grayish-violet
				padding: 0 10px


//! ################################
.find-out-more
	background-color: $dark-violet
	color: $very-light-gray
	margin-top: $spacing-large
	margin-left: 5%
	margin-right: 5%
	text-align: center
	background-image: url('../images/bg-pattern-how-we-work-mobile.svg')
	background-repeat: no-repeat
	background-position: right top
	padding-left: 5%
	padding-right: 5%
	h4
		padding-top: $spacing-large
		font-size: 3.5rem
		margin-bottom: $spacing-small
		max-width: 600px
	button
			background-color: $dark-violet
			border: 2px solid $very-light-gray
			width: 200px
			height: 40px
			color: $very-light-gray
			margin-bottom: $spacing-large
			transition: .3s
			&:hover
				background-color: $very-light-gray
				color: $dark-violet

//! ################################
footer
	margin-top: $spacing-large
	background-image: url('../images/bg-pattern-footer-mobile.svg')
	background-repeat: no-repeat
	background-position: top
	background-size: 100% 150px
	background-color: $very-light-gray
.footer__social
	padding-top: $spacing-medium
	display: flex
	flex-direction: column
	align-items: center
	&__icons
		a
			margin: 20px 5px
	&__line
		margin-top: $spacing-small
		width: 80%
		height: 1px
		background-color: $grayish-blue

.footer__links
	display: flex
	flex-direction: column
	align-items: center
	text-align: center
	&__section
		display: flex
		flex-direction: column
		p
			color: $grayish-blue
		a
			text-decoration: none
			color: $dark-violet
			margin-bottom: 5px
			&:hover
				text-decoration: underline