@import './_tokens.sass'
html
	box-sizing: border-box
	scroll-behavior: smooth

*
	box-sizing: inherit

body
	margin: 0
	overflow-x: hidden
	font-family: $font-family-body

h1,h2,h3,h4,h5,h6
	font-family: $font-family-heading
	font-weight: $font-weight-heading


.header
	position: fixed
	top: 0
	background-color: $very-light-gray
	padding: 0 20px
	width: 100vw
	height: 80px
	display: flex
	align-items: center
	justify-content: space-between
	&__menu
		&--desktop
			display: none
	&__figure
		margin: 0


.plegable-menu
	display: none
	font-family: $font-family-body
	font-weight: $font-weight-body-normal
	color: $very-light-gray
	background-color: $very-dark-violet
	background-image: url('../images/bg-pattern-mobile-nav.svg')
	background-repeat: no-repeat
	background-position: bottom
	background-size: 100% 40%
	ul
		padding: 0
		li
			margin: 0
			margin-top: 50px
			list-style: none
			font-size: 2rem
			text-align: center
			a
				text-decoration: none
				color: $very-light-gray
				padding: 10px 40px
				&:focus
					outline: 2px solid $very-light-gray
	&.active
		min-height: 300px
		position: fixed
		top: 80px
		bottom: 0
		left: 0
		right: 0
		display: block

main
	margin-top: 100px


@media screen and ( min-width: 650px)
	.header
		&__menu
			&--desktop
				display: block
				ul
					display: flex
					margin-right: 10px
					li
						list-style: none
						font-weight: $font-weight-body-normal
						font-family: $font-family-body
						a
							display: flex
							text-decoration: none
							color: $grayish-blue
							width: 120px
							height: 40px
							justify-content: center
							align-items: center
	#nav-button
		color: $very-dark-violet
		border: 2px solid
	.plegable-menu.active
		display: none
	.hamburger
		display: none


@media screen and ( min-width: 1000px)
	.hero
		display: flex
		flex-direction: column
		align-items: center
		position: relative
		padding: 0 5%
		background-color: $dark-violet
		&__figure
			margin-top: $spacing-medium
			position: absolute
			margin-left: 50%
			margin-right: 0
		&__article
			color: $very-light-gray
			&__text-container
				padding-top: $spacing-medium
				width: 45%
				&__h1
					font-size: 3rem
					margin-bottom: 0
				&__p
					font-size: 1rem
				&__button
					width: 150px
					height: 40px
					border: none
					background-color: $very-light-gray
					margin-bottom: $spacing-medium